.item {
  flex-shrink: 0;
  height: 54px;
  border: 1px solid lightblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
}

.contentWrapper {
  display: flex;
  justify-content: start;
  align-items: center;
}

.operationWrapper {
  display: flex;
  justify-content: end;
  align-items: center;
}